@charset "UTF-8";

@font-face {
	font-family: "noto-sans";
	src: url("../fonts/NotoSansKR-Regular.ttf") format("truetype");
}

/* 공통 */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 768px;
	font-family: "noto-sans", sans-serif;
	background-color: #e9f3ff;
}

/* content 메인 */
#container {
	margin: 0px 150px;
	height: 90%;
	display : flex;
	justify-content: center;
	align-items: center;
}

#mainContent {
	width: 100%; 
	display : flex;
	justify-content: space-around;
	align-items: center;
}

#searchBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}

.subtitle {
	font-size: 20px;
	color: gray;
}

img {
	width: 20%;
}

.forms {
	display: flex;
	gap: 20px;
}