@charset "UTF-8";

@font-face {
  font-family: "noto-sans";
  src: url("../fonts/NotoSansKR-Regular.ttf") format("truetype");
}

html,
body {
 margin: 0;
	padding: 0;
	height: 100%;
	min-width: 768px;
	font-family: "noto-sans", sans-serif;
}

/* content 메인 */
#container {
  margin: 0px 300px;
	height: 90%;
	display : flex;
	align-items: center;
}

h1 {
	flex-basis: 30%;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

#modifyForm {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#modifyBtn {
	 background-color: #e9f3ff;
}


img {
  width: 33%;
}

.row {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.inputEmail {
	width: 50%;
	display: flex;
	justify-content: space-between;
	gap: 2px;
}

.emailContainer {
	gap: 5px;
}


.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 100px;
    border-bottom-right-radius : 100px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width)* -1);
    border-top-left-radius: 100px;
    border-bottom-left-radius:100px;
}
