@charset "UTF-8";
@font-face {
  font-family: "noto-sans";
  src: url("../fonts/NotoSansKR-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
	min-width: 768px;
  font-family: "noto-sans", sans-serif;
}

#page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* min-height: 100%; */
  height: calc(100% - 65px);
}

.search {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 550px;
  padding: 20px 0 0 0;
  gap: 15px;
  height: 100%;
  box-sizing: border-box;
  .search__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
  
  #searchForm {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	gap: 10px;
  }
  
  .search__input {
    width: 70%;
    height: 30px;
    font-size: 1rem;
    padding: 5px 10px 5px 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
  }
}
.category-selector {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-align: center;
  & > select {
    min-width: 70px;
    font-size: 1rem;
    height: 35px;
  }
  & > button {
    min-width: 50px;
  }
}

.result {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  height: 85vh;
  overflow: hidden;
  
  .result_aside{
  	padding: 0 0 10px 0;
    margin: 0;
    list-style: none;
    gap: 15px;
    box-sizing: border-box;
    /* min-height: 100%; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    
    .result_list {
    padding: 0 0 10px 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    box-sizing: border-box;
    /* min-height: 100%; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    &::-webkit-scrollbar {
      width: 8px; /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: gray; /* 스크롤바의 색상 */

      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: lightgrey; /*스크롤바 뒷 배경 색상*/
    }
  }
  .result__item {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

    .item__img {
      width: 100%;
      height: 180px;
      /* padding: 10px 0; */
      background-color: gray;
      border-radius: 10px;
    }
    .content {
      display: block;
    }
    .item__title {
      font-size: 15px;
      font-weight: 700;
    }
    .item__type {
      font-size: 18px;
      color: gray;
    }
    .item__address {
      font-size: 13px;
    }
  }
  }
}
.map-wrapper {
  display: fixed;
  width: 100%;
}
#map {
  width: 100%;
  height: calc(100vh - 60px);
}

.btnCustom.search-content {
	font-size: 0.9rem;
	width: 30%;
  height: 40px;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 5px #b5b5b5;
  background-color: white;
}

.btnCustom.search-btn {
	font-size: 0.9rem;
	width: 20%;
	min-width: 65px;
  height: 40px;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 5px #b5b5b5;
  background-color: white;
}

/* 카카오 마커 스타일 */
.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  & > span {
    display: inline-block;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
  cursor: pointer;
}
.info .body {
  position: relative;
  overflow: hidden;
}
.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
  background-color: gray;
}
.info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
  color: #5085bb;
}

ul.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	list-style: none;
}

.page-item {
	width: 30%;
	max-width: 50px;
}

.page-link {
  min-width: 100px;
  min-height: 30px;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  text-align: center;
}