<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.faq.model.mapper.FAQMapper">

	<resultMap type="FAQDto" id="article">
		<result column="article_no" property="articleNo" />
		<result column="subject" property="subject" />
		<result column="user_id" property="userId" />
		<result column="content" property="content" />
		<result column="register_time" property="registerTime" />
	</resultMap>

	<sql id="search">
		<if test="word != null and word != ''">
			<if test="key == 'subject'">
				and subject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'subject'">
				and ${key} = #{word}
			</if>
		</if>
	</sql>
	
	<insert id="registerArticle" parameterType="FAQDto">
		insert into faqs (user_id, subject, content, register_time)
		values (#{userId}, #{subject}, #{content}, now())
		<selectKey resultType="int" keyProperty="articleNo" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="listArticle" resultMap="article">
		select f.article_no, f.user_id, f.subject, f.content, f.register_time, m.user_name
		from faqs f, members m 
		where f.user_id = m.user_id
		order by f.article_no desc
	</select>
	
	<select id="getArticle" parameterType="int" resultMap="article">
		select f.article_no, f.user_id, f.subject, f.content, f.register_time, m.user_name 
		from faqs f, members m
		where f.user_id = m.user_id
		and f.article_no = #{articleNo}
	</select>

	<update id="modifyArticle" parameterType="FAQDto">
		update faqs
		set subject	= #{subject}, content = #{content}
		where article_no = #{articleNo}
	</update>

	<delete id="deleteArticle" parameterType="int">
		delete from faqs
		where
		article_no = #{articleNo}
	</delete>
</mapper>